@import url(https://fonts.googleapis.com/css?family=Open+Sans:300);
@import url(https://fonts.googleapis.com/css?family=Libre+Baskerville:700);

.clearfix:after { 
	content: "."; 
	visibility: hidden; 
	display: block; 
	height: 0; 
	clear: both;
}

* {margin: 0; padding: 0; box-sizing: border-box;
}

body {
background-color:c #F5F5F5;
}
p {
color: #0D0D0D;
font-family: 'Open Sans', sans-serif;
}
h1 {
font-family: 'Libre Baskerville', serif;
}

h2 {
	padding:80px;

div {
  width: 20%;
  height: 300px;
  padding: 10px;
  margin: 10px;
  background-color: #cccccc;
  float: left;
}